.wheat{
  background-color: black;
  height: 500px;
 }
 .wheat-1{
   background-color: green;
   width: 1000px;
   height: 400px;
   position: relative;
   left: 150px;
   top: 50px;
   color: black;
   padding: 10px;
 }
 .wheat-1>input,button{
   padding: 5px;
   margin: 5px;
 }
 button{
   background-color: black;
   color: white;
 }
 @media screen and (max-width:500px) {
  .wheat-1{
  position: relative;;
    left: 20px;
    width: 200px;
  }
   
  
}